* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --color-primary: rgb(241, 177, 56);
    --color-secondary: rgb(0, 37, 68);
    --color-tertiary: rgb(173, 216, 230);
    --color-white: rgb(230, 230, 230);
    --color-black: rgb(15, 15, 15);
    --color-fondo: rgb(225, 225, 225);
    --color-gray: rgb(102, 102, 102);


    --font-family: "roboto", cursive;
    --font-size: 16px;
    --border-radius: 8px;
}



body.DarkMode {

    --color-primary: rgb(241, 177, 56);
    --color-secondary: rgb(20, 25, 40);
    --color-tertiary: rgb(55, 117, 148);
    --color-fondo: rgb(15, 15, 15);
    --color-black: rgb(230, 230, 230);

}


@font-face {
    font-family: "roboto";
    src: url("/fonts/robotowght.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    crossorigin: anonymous;
}

@font-face {
    font-family: "crotah";
    src: url("../fonts/Crotahfreeversionitalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    crossorigin: anonymous;
}

@font-face {
    font-family: "road-rage";
    src: url("/fonts/roadrage.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    crossorigin: anonymous;
}

@font-face {
    font-family: "saiyan";
    src: url("/./fonts/Saiyan-Sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    crossorigin: anonymous;
}